[submodule "lib/libft"]
	path = lib/libft
	url = git@github.com:valentinValep/42_libft.git
[submodule "lib/minilibx-linux"]
	path = lib/minilibx-linux
	url = git@github.com:42Paris/minilibx-linux.git
